
@font-face {
  font-family: 'Thelorin';
  src: url('Thelorin.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  height: 100svh;
  overflow-y: auto; /* allow vertical scroll */
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Thelorin', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding: 20px;
  max-width: 600px;
}

.logo svg {
  width: 350px;
  height: auto;
  margin: 0 auto 25px;
  fill: var(--logo-color);
}

.subtitle {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 0 0 10px;
}

.event-date {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 0 10px;
}

.location {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 25px;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 3rem;
  margin-bottom: 10px;
}

#countdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countdown small {
  font-size: 1.5rem;
  margin-top: 5px;
}

.info-button {
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 999px;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.info-button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
